@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

* {
    margin : 0;
    padding :0;
    box-sizing : border-box;
    font-family : 'Spartan', sans-serif;
}

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    height : 100vh;
    background : url('images/bg-pattern-bottom-desktop.svg') no-repeat;
    background-size : cover;
    object-fit : cover;
}

.container-text {
    width : 375px;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}
.container-text h1 {
    width : 300px;
    color : var(--Very-Dark-Magenta);
}
.container-text p {
    width : 340px;
    color : var(--Very-Dark-Magenta);
    margin-bottom : 30px;
}

.star-container div {
    background-color : rgba(231, 24, 152, 0.192);
    border-radius : 10px;
    margin : 10px 0 15px 20px;
    width : 340px;
    height : 95px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-direction : row; 

}
/* .star-container div > img {
    display : flex;
    flex-direction : column;
} */
.star-container p {
    display : block;
    margin-left : 5px;
    
}
.target-names {
    background-color : var(--Very-Dark-Magenta);
    border-radius : 10px;
    width : 340px;
    height : 270px;
    margin-top : 1rem;
}

.target-titles {
    display : flex;
    flex-direction : row-reverse;
    align-items : center;
    justify-content : flex-end;
}
.target-titles img {
    border-radius : 100%;
    width : 50px;
    margin : 50px 25px 0px 10px;
}
.target-names h3 {
    font-weight: bold;
    color : var(--White);
    margin : 50px 0 0 0;
    font-size : 14px;
}
.target-names h4 {
    font-weight : lighter;
    color : var(--Soft-Pink);
    margin : 8px 0 0 0;
    font-size : 15px;
}
.target-names p {
    color : var(--Light-Grayish-Magenta);
    text-align : left;
    width : 290px;
    height : 200px;
    margin : 0 0 20px 30px;
    padding : 0;
    font-size : 14px;
    line-height : 22px;
}

@media (min-width : 1000px) {
    .container-header {
        display : flex;
        justify-content : space-between;
        flex-direction : row;
        margin-top : 75px;
        width : 1000px;
        height : 300px;
    }
    .container-text {
        display : flex;
        text-align : left;
        justify-content : left;
        width : 500px;
        height : 460px;
    }
    .container-text h1 {
        width : 380px;
        font-size : 38px;
        line-height : 46px;
        margin-bottom : 10px;
    }
    .container-text p {
        width : 380px;
        font-size : 1rem;
        line-height : 24px;
        margin-top : 5px;

    }

    .star-container div {
        display : flex;
        flex-direction : row;
        justify-content : flex-start;
        width : 410px;
        height : 50px;
        font-size : 12px;
    }
    .star-container div img:first-child {
        margin-left : .5rem;
    }
    .star-container div p {
        margin-left : .5rem;
        font-size : .9rem;
    }
    .star-container div:nth-child(1) {
        margin-top : 20px;
        margin-left : 50px;
    }
    .star-container div:nth-child(2) {
        margin-left : 100px;
    }
    .star-container div:nth-child(3) {
        margin-left : 150px;
    }
    .star-container img {
        width : 17px;
        height : 16px;
    }
    

    .target-container {
        display : flex;
        flex-direction : row;
    }

    .target-names {
        background-color : var(--Very-Dark-Magenta);
        border-radius : 10px;
        width : 340px;
        height : 220px;
        margin-left : 20px;
    }
    .target-two {
        margin-top : 30px;
    }
    .target-three {
        margin-top : 50px;
    }
    .target-titles {
        display : flex;
        align-items : center;
        flex-direction : row-reverse;
        justify-content : flex-end;
        margin : 10px 0 20px 20px;
    }
    .target-titles img {
        border-radius : 100%;
        width : 50px;
        margin : 10px 25px 0 10px;
    }
    .target-names h3 {
        font-weight : bold;
        color : var(--White);
        margin : 10px 0 0 0;
        font-size : 14px;
    }
    .target-names h4 {
        font-weight : lighter;
        color : var(--Soft-Pink);
        margin : 8px 0 0 0;
        font-size : 15px;
    }
    .target-names p {
        color : var(--Light-Grayish-Magenta);
        text-align : left;
        width : 270px;
        height : 200px;
        margin : 0 0 20px 30px;
        padding : 0;
        font-size : 13px;
        line-height : 22px;
    }
}
